html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#pixel_canvas {
    display: block;
}

#camera_label {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.3);
}