<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Pixel Canvas</title>
    <link rel="stylesheet" type="text/css" href="resources/style.css"/>
</head>
<body>
    <canvas id="pixel_canvas"></canvas>
    <p id="camera_label">0 | 0 (100%)</p>
    <div id="toolbar">
        <input class="inactive_icon" type="color" id="color_wheel">
        <img class="inactive_icon" id="size_picker" src="resources/icons/size_icon_1.png" alt="SIZE">
        <img class="active_icon" id="tool_draw" src="resources/icons/draw_icon.png" alt="DRAW">
        <img class="inactive_icon" id="tool_erase" src="resources/icons/erase_icon.png" alt="ERASE">
        <img class="inactive_icon" id="tool_pipette" src="resources/icons/pipette_icon.png" alt="COLOR SELECT">
        <img class="inactive_icon" id="tool_move" src="resources/icons/move_icon.png" alt="MOVE">
        <img class="inactive_icon" id="tool_download" src="resources/icons/download_icon.png" alt="DOWNLOAD">
    </div>

    <script type="text/javascript" src="resources/scripts/vector2d.js"></script>
    <script type="text/javascript" src="resources/scripts/pixel_event.js"></script>
    <script type="text/javascript" src="resources/scripts/image_sync_manager.js"></script>
    <script type="text/javascript" src="resources/scripts/download_worker.js"></script>
    <script type="text/javascript" src="resources/scripts/pixel_canvas_handle.js"></script>
    <script type="text/javascript" src="resources/scripts/main.js"></script>
</body>
</html>
