<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Canvas</title>
    <link rel="stylesheet" type="text/css" href="resources/style.css"/>
</head>
<body>
    <canvas id="pixel_canvas"></canvas>
    <p id="camera_label">0 | 0 (100%)</p>
    <div id="toolbar">
        <input class="icon" type="color" id="color_wheel">
        <img class="icon" src="resources/icons/draw_icon.png" width="50" alt="DRAW">
        <img class="icon" src="resources/icons/pipette_icon.png" width="50" alt="COLOR SELECT">
        <img class="icon" src="resources/icons/move_icon.png" width="50" alt="MOVE">
        <img class="icon" src="resources/icons/zoom_icon.png" width="50" alt="ZOOM">
    </div>
    <script type="text/javascript" src="resources/client_logic.js"></script>
</body>
</html>
